<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="com.automationTesting">
    <test name="com.automationTesting">
        <groups>
            <run>
                <include name="Regression_High_NonConflicted"/>
            </run>
        </groups>
        <classes>
            <class name="SignInTest"/>
        </classes>
    </test>
</suite>